h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol,
body {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #22343d;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background: #1c1b21;
}

a,
button {
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  min-width: 350px;
  max-width: 1110px;
  padding: 0px 405px;
}

section {
  padding: 180px 0px;
}

.header {
  background-image: url("../images/background-top1.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 100vh;
  padding-bottom: 0px;
}

.img-all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 95px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 65px;
  padding: 20px 0px;
  flex-wrap: wrap;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
}

.header-photo-one {
  width: 60px;
  height: auto;
}

.header-photo-two {
  width: 143px;
  height: auto;
  padding-top: 10px;
}

.header-text {
  text-align: left;
  padding-top: 322px;
}

.header-text-h {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  margin-bottom: 10px;
}

.header-text-p {
  font-weight: 700;
  font-size: 100px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

/* повзунок для відтворення музики */
.audio-player {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  min-width: 887px;
  height: 0px;
}

.play-btn {
  font-size: 10px;
  width: 22px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  color: #ffff;
}

.progress-container {
  flex: 1;
  height: 2px;
  background-color: #ccc;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: #ff4500;
  border-radius: 3px;
}

.audio-player {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 400px;
  margin: 50px auto;
}

.time {
  font-size: 14px;
  color: #fff;
  min-width: 60px;
  text-align: right;
}

/* <section class="one"> */

.one {
  padding: 0px;
}

.one-container {
  display: flex;
  gap: 30px;
  margin-top: -100px;
}

.item {
  border-radius: 20px 0;
  width: 350px;
  height: 300px;
}

.img-wrapper {
  position: relative; /* контейнер для абсолютного позиціювання */
  width: 100%;
  height: 100%;
}

.img-wrapper-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.img-wrapper-p {
  position: absolute;
  bottom: 0; /* прижимаємо до низу */
  left: 0;
  width: 100%; /* ширина по всій картинці */
  height: 50px;
  background-color: #7a66cc;
  opacity: 0.7;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
}

/* <section class="two"> */

.two-container {
  display: flex;
  padding: 0 300px;
  justify-content: space-between;
  gap: 125px; /* відстань між лівою та правою колонкою */
  align-items: center; /* вирівнювання по центру вертикально */
}

/* Ліва колонка */
.two-container {
  display: flex;
  justify-content: space-between;
  gap: 125px; /* відстань між лівою та правою колонкою */
  align-items: flex-end; /* вирівнювання по низу фото */
  flex-wrap: nowrap; /* ліва частина не зсувається */
}

/* Ліва колонка */
.text-content {
  max-width: 540px;
  text-align: left;
}

.text-content-h {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  margin-bottom: 60px;
  white-space: nowrap;
  position: relative;
  text-align: center;
}

.text-content-h::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 64px; /* ширина іконки */
  height: 31px; /* висота іконки */
  background-image: url("../images/text-content-h.svg"); /* SVG */
  background-size: contain;
  background-repeat: no-repeat;
}

.text-content-p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
}

.text-content-p-my-one {
  margin-bottom: 20px;
}

.text-content-p-my {
  margin-bottom: 65px;
}

.text-content-ul {
  white-space: nowrap;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 33px 90px;
}

/* Права колонка */
.image-content {
  max-width: 445px;
}

.image-stack {
  position: relative;
  width: 350px;
  height: 400px;
  border-radius: 10px;
  /* без overflow:hidden */
}

/* Нижнє фото прижато до низу */
.bottom-img {
  position: absolute;
  bottom: 100px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.3; /* повністю непрозоре */
}

/* Верхнє фото накладається */
.top-img {
  position: absolute;
  top: -50%; /* зміщення зверху у відсотках */
  left: -20%; /* зміщення зліва у відсотках */
  width: 120%; /* трохи більше за контейнер */
  height: auto;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.text-content-li {
  position: relative;
  list-style: none; /* прибираємо стандартні маркери */
  padding-left: 50px;
}

.text-content-li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px; /* ширина іконки */
  height: 30px; /* висота іконки */
  background-image: url("../images/Rectangle.svg"); /* SVG */
  background-size: contain;
  background-repeat: no-repeat;
}

/* <section class="three"> */
.three-container {
  padding: 0px 80px;
  display: flex;
  gap: 60px;
  border: 1px solid #fff;
  border-radius: 30px 0;
  height: 313px;
  background-color: #1c1b21;
}

.left-three-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 30px;
  /* width: 50%; */
}

.three-container-p {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  width: 520px;
}

.three-container-a {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  color: #7a66cc;
  text-decoration: underline;
}

.three-container-img {
  border-radius: 30px 0;
  width: 370px;
  height: 483px;
}

.three-container-a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* лінія внизу контейнера */
  width: 520px; /* ширина на весь контейнер */
  border-top: 1px solid #fff; /* нижній бордер */
  opacity: 0.6;
  padding-bottom: 40px;
}

/* <section class="four"> */
.four-container {
  padding: 0 20px;
  gap: 20px;
}

.image-wrapper {
  display: inline-block;
  position: relative;
  border: 16px solid #7a66cc; /* зовнішній бордер */
  border-radius: 50%; /* робимо круглим */
  min-width: 436px;
  min-height: 436px;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: -30px; /* зміщення для зовнішнього бордера */
  left: -30px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  border: 16px solid #60597f; /* другий бордер іншого кольору */
  border-radius: 50%;
  pointer-events: none; /* щоб не заважав клікам */
}

.circle-img {
  display: block;
  border-radius: 50%; /* робимо саму картинку круглою */
  width: 436px;
  height: 436px;
}

.play-music {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.track-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.track-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.track-name {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.progress-container-music {
  width: 100%;
  height: 1px; /* висота лінії */
  background-color: #8e8888; /* фон бару */
  border-radius: 3px;
  margin: 20px 0;
}

.progress-music {
  width: 0%; /* початкова ширина */
  height: 100%;
  background-color: #007bff; /* колір прогресу */
  border-radius: 3px;
  transition: width 0.2s linear;
}

.timer {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  color: #cec4c4;
  margin-bottom: 20px;
}

.text-content-h-music {
  font-weight: 700;
  font-size: 38px;
  color: #fff;
  margin-bottom: 60px;
}
